<html>

<head>
  <script src="./angular.min.js"></script>
  <script src="./calc.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>

  <form class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 p-4">
        <label>Nombre</label>
        <input ng-model="nombre" type="text" class="form-control" />
        <label>Abreviatura</label>
        <input ng-model="abreviatura" type="text" class="form-control" />
        <label>Autor</label>
        <input ng-model="autor" type="text" class="form-control" />
        <label>Autor</label>
        <select ng-model="estado" class="form-control">
          <option value="BUENO">BUENO</option>
          <option value="REGULAR">REGULAR</option>
          <option value="MALO">MALO</option>
        </select>
        <div class="text-center p-4">
          <button class="btn btn-primary">Guardar</button>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

  </form>
</body>

</html>